@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #eee;
}
.navbar {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 12px 0px;
}
.card {
    background-color: white;
}
.articles {
    min-height: 60vh;
    min-width: 100vw;
}
